
#box {
    background-color: gray;
    width: 960px;
    height: auto;
    padding-top: 10px
}

header {
    background: #ebebeb;
    padding: 10px;
    margin: 0px 80px 10px 80px;
    width: 80%;
    height: 25px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: center;
}

nav {
    background: #ebebeb;
    padding: 10px;
    margin: 10px 80px 0px 80px;
    width: 80%;
    height: 25px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: center;
}

.pageContent {
    float: left;
    background: #ebebeb;
    margin: 10px 80px 0px 80px;
    width: 495px;
    height: 80px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: center;
}

.aside {
    float: left;
    display: block;
    background: #ebebeb;
    margin: 10px 80px 10px 80px;
    width: 495px;
    height: 80px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: center;
}

article h2 {
    font-weight: normal;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center
}
article p {
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center
	
}

footer {
	clear: both;
    background: #ebebeb;
    padding: 10px;
    margin: 0px 80px 20px 80px;
    width: 80%;
    height: 25px;
	text-align: right;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: center
}



 
