
#box {
    background-color: gray;
    width: 960px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    background: #ebebeb;
    padding: 10px;
    margin: 0px 80px 10px 80px;
    width: 80%;
    height: 25px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: center;
}

nav {
    background: #ebebeb;
    padding: 10px;
    margin: 10px 80px 0px 80px;
    width: 80%;
    height: 25px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: center;
}

.pageContent {
	float:left;
	display:inline-block;
    background: #ebebeb;
    margin: 10px 0px 0px 80px;
    width:394px;
    height: 200px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: center;
}

.aside {
  	float:right;
    display:inline-block;
    background: #ebebeb;
    margin: 10px 80px 10px 0px;
    width:394px;
    height: 200px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: center;
}

#article {
    position:relative;
    display:inline-block;
    width: 90%;
    padding:10px;
    height: 90px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    color:white;
    background-color: grey
}
 
article h3 {
    position:relative;
    display:block;
    width: auto;
    height: 20px;
    padding: 2px;
    margin-bottom:3px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    color:grey;
    background-color: #ebebeb
}
article p {
    position:relative;
    display:block;
    width: auto;
    height: 20px;
    padding: 2px;
    margin:5px 0px 5px 0px;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    color:gray;
    background-color: #ebebeb
}

footer {
	clear: both;
    background: #ebebeb;
    padding: 10px;
    margin: 0px 80px 20px 80px;
    width: 80%;
    height: 25px;
	text-align: right;
    font-family: arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: center
}



 
